/*
 * =================
 * = Directory.css =
 * =================
 * Used for styles specific to the initial note directory/index
 */

.outline-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.outline-3 h3 {
    flex-basis: 100%;
    text-align: center;
}

.outline-text-3 {
    flex-basis: 100%;
    text-align: center;
}
.outline-4 {
    width: 30ch;
    margin: 1em auto;
    text-align: center;

    border: 1px solid #2a2a29;
    border-radius: 8px;
}

a {
    color: #2a2a29;
}
