body {
    background-color: #2a2a29;
    color: #e4e4e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    sizing: border-box;
}

main {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
}

header {
    margin: 1em;
    padding: 1em;
    grid-area: header;
    flex-basis: 100%;
    text-align: left;
}

h1 {
    font-size: 5rem;
}

section {
    margin: 1em;
    padding: 0em 1em;

    /* I want obnoxious fixed size elements */
    min-width: 12em;
    max-width: 12em;
    flex: 2 0 0%;

    cursor: pointer;

    border: 5px solid;
    border-right: none;
    border-bottom: none;

    grid-area: class;
    flex-direction: column;
    transition: 800ms;
}

a {
    text-decoration: none;
    color: #e4e4e5;
}

.blue-border {
    border-inline-start: 5px solid;
    border-block-start: 5px solid;
    border-image-source: radial-gradient(circle at top left,  #81a2be, transparent 55%);
    background-image: radial-gradient(circle at top left,  #81a2be, transparent 40%);
    background-size: 400%;
    background-position: bottom right;
    border-image-slice: 1;
}

section:hover {
    background-position: top left;
    inset: 5px;
}

.green-border {
    border-inline-start: 5px solid;
    border-block-start: 5px solid;
    border-image-source: radial-gradient(circle at top left,  #60b48a, transparent 55%);
    background-image: radial-gradient(circle at top left,  #60b48a, transparent 55%);
    background-size: 400%;
    background-position: bottom right;
    border-image-slice: 1;
}

.red-border {
    border-inline-start: 5px solid;
    border-block-start: 5px solid;
    border-image-source: radial-gradient(circle at top left,  #cc6666, transparent 55%);
    background-image: radial-gradient(circle at top left,  #cc6666, transparent 55%);
    background-size: 400%;
    background-position: bottom right;
    border-image-slice: 1;
}

.yellow-border {
    border-inline-start: 5px solid;
    border-block-start: 5px solid;
    border-image-source: radial-gradient(circle at top left,  #d0b75a, transparent 55%);
    background-image: radial-gradient(circle at top left,  #d0b75a, transparent 55%);
    background-size: 400%;
    background-position: bottom right;
    border-image-slice: 1;
}
