@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');
* {
    --background: #e4e4e5;
    --foreground: #2a2a29;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Karla', sans-serif;
}

/*
 *
 * = Headers =
 *
 */
h1, h2, h3, h4, h5, h6 {
    font-family: "Libre Baskerville", serif;
}
h1 {
    font-size: 4em;
    font-weight:  700;
}

h2 {
    font-size: 3em;
    font-weight: 700;
}

h3 {
    font-size: 2em;
    font-weight: 700;
}

h4 {
    font-size: 1.5em;
    font-weight: 700;
}

h5 {
    font-size: 1.25em;
    font-weight: 700;
}

/*
 * Src Blocks
 */
pre {
    background-color: var(--foreground);
    color: var(--background)
}

.src {
    filter: brightness(0.8); /* Work-around due to the way org generates html */
}

pre .src {
    filter: brightness(1) !important;
}

/*
 * Outlines
 */
.outline-1, .outline-2, .outline-3, .outline-4, .outline-5, .outline-6 {
    margin-bottom: 4em;
}


/*
 *
 * = Document Setup =
 *
 */
#content {
    width: min(75ch, 50%);
    margin: 0 auto;
}

/*
 *
 * = Tables =
 *
 */
table {
    margin: 0 auto;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

thead {
    border-bottom: 2px solid var(--background);
}


/*
 *
 * = Better Definitions =
 *
 */

dl {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1em;
}

dt {
    text-align: right;
}

dd {
    text-align: left;
}

/*
 * Fit Images
 */
img {
    min-width: initial;
    max-width: 90%;
    height: auto;
}

/*
 * = Table of Contents
 */
#table-of-contents {
    position: fixed;
    top: 0;
    left: 0;
    width: max(10em, 20%);
    padding: 1em;
    margin-right: 2em;
    overflow: scroll;
}

#table-of-contents > h2 {
    font-size: 2em;
}

#table-of-contents > a {
    text-decoration: none;
    color: var(--foreground);
}

#text-table-of-contents > ul {
    list-style-type: none;
}

#text-table-of-contents {
    padding: 0;
}

@media screen (min-width: 1000px) {
    #table-of-contents {
        display: none;
    }
}

@media print {
    #table-of-contents {
        display: none;
    }
}
